html {
    background:  $c-primary;
    color: $c-text;
    font-family: $body-font;
    font-size: $font-size-base;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}