@import "../utils/parameters";

.section2 {
    margin: 100px 0px 80px 0px;
    }

    .section2-inf{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 874px;
        margin: 0 auto;

    }

    .section2-title{
        font-weight: bold;
        font-size: 40px;
        line-height: 147%;
        letter-spacing: 0.2px;
        color: #252B42;
        text-align: center;
        padding-top: 112px;
        margin-bottom: 10px;
       
    }

    .section2-text{
        max-width: 511px;
        font-weight: 500;
        line-height: 143%;
        text-align: center;
        letter-spacing: 0.2px;
        margin-bottom: 50px;
        
    }

.section2-elements{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;  
}

.section2-colum{
    flex: 0 1 25%;
    width: 25%;
    padding: 0 15px;
}

.section2-element{
    background: white;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    }

.section2-element-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 147%;
    letter-spacing: 0.2px;
    color: $c-text2;
    margin: 10px 0px;
    }

.section2-element-text{
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1px;
}

.section2-element-img{
    width: 48px;
    height: 48px;
}

// Медиазапрос на 768px
@media (max-width:768px){
   .section2-colum{
            flex: 0 1 50%;
            width: 50%;
            padding: 10px 15px;
        }
    }

// Медиазапрос на 576px
@media (max-width:$xs){
    .section2{
        margin: 0px 0px 0px 0px;
    }
    .section2-inf{
        margin: 53px 42px 30px 42px;
        padding: 45px 0px;
    }
    .section2-title{
        padding:0px;
        max-width: 245px;
    }
    .section2-text{
        max-width: 225px;
        margin-bottom: 0px;
    }
    .section2-elements{
        margin: 0px 42px 70px 42px;
        justify-content: center;
        padding: 0 44.5px;
    }
    .section2-colum{
        flex: 0 1 100%;
        width: 100%;
        padding: 0px 0px;
        margin-bottom: 30px;
    }
    .section2-colum:last-child{
        margin-bottom: 0px;
    }
}

