.section2 {
    margin: 100px 0px 80px 0px;
    }

    .section2-inf{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 874px;
        margin: 0 auto;

    }

    .section2-title{
        font-weight: bold;
        font-size: 40px;
        line-height: 147%;
        letter-spacing: 0.2px;
        color: #252B42;
        text-align: center;
        padding-top: 112px;
        margin-bottom: 10px;
       
    }

    .section2-text{
        max-width: 511px;
        font-weight: 500;
        line-height: 143%;
        text-align: center;
        letter-spacing: 0.2px;
        margin-bottom: 50px;
        
    }

.section2-elements{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    
    
}

.section2-colum{
    flex: 0 1 25%;
    width: 25%;
    padding: 0 15px;
}

.section2-element{
    background: white;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    }

.section2-element-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 147%;
    letter-spacing: 0.2px;
    color: $c-text2;
    }

.section2-element-text{
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1px;
}

.section2-element-img{
    width: 48px;
    height: 48px;
}

// у меня не вышло сделать высоту элемента 2-го одинаковой