header.header 
    div.container
        div.header-nav  
            .logo Indicorp
            .nav-list
                ul 
                    a(href="").nav-text Home
                    a(href="").nav-text Product
                    a(href="").nav-text Pricing
                    a(href="").nav-text Contact