
.section1
    .container
        p.titile-first  EMPOWER YOUR BUSINESS 
        p.text-first We know how large objects will act, 
            | things on a small scale.
        .two-buttons
            button.button-frst Get Quote Now
            button.button-scnd Learn More
        .items
            .item-colum
                .item 
                    img.item-img(src="./assets/imgs/portfolio.svg", alt="pict1")
                    p.item-title Digital Marketing 
                    p.item-text We focus on ergonomics and 
                        | meeting you where you work. 
            .item-colum
                .item 
                    img.item-img(src="./assets/imgs/shop.svg", alt="shop")
                    p.item-title National top 50 firms
                    p.item-text Just type what's on your mind 
                        |and we'll get you there.
            .item-colum    
                .item.white-box 
                    img.item-img(src="./assets/imgs/white-box.png", alt="white-box")
                    p.item-title Digital Marketing 
                    p.item-text the quick fox jumps over the 
                        |lazy dog