.section2 
    .container 
        .section2-inf WHY CHOOSE US
        .section2-text Problems trying to resolve the conflict between the two major realms 
            |of Classical physics: Newtonian mechanics
        .elements
            .element-colum 
                .element
                    img(src="./assets/imgs/mans.svg", alt="mans").element-img
                    .element-title 3K
                    .element-text CASES DONE
            .element-colum 
                .element
                    img(src="./assets/imgs/bx-stats.svg", alt="mans").element-img
                    .element-title 45
                    .element-text HAPPY CUSTOMERS
            .element-colum 
                .element
                    img(src="./assets/imgs/award.svg", alt="mans").element-img
                    .element-title 12+
                    .element-text AWARD WINNING
            .element-colum 
                .element
                    img(src="./assets/imgs/portfolio.svg", alt="mans").element-img
                    .element-title 1.5K
                    .element-text CASES DONE