.section2 
    .container 
        .section2-inf
            .section2-title WHY CHOOSE US
            .section2-text Problems trying to resolve the conflict between the two major realms 
                |of Classical physics: Newtonian mechanics
        .section2-elements
            .section2-colum 
                .section2-element
                    img(src="./assets/imgs/mans.svg", alt="mans").section2-element-img
                    .section2-element-title 3K
                    .section2-element-text CASES DONE
            .section2-colum 
                .section2-element
                    img(src="./assets/imgs/bx-stats.svg", alt="mans").section2-element-img
                    .section2-element-title 45
                    .section2-element-text HAPPY CUSTOMERS
            .section2-colum 
                .section2-element
                    img(src="./assets/imgs/award.svg", alt="mans").section2-element-img
                    .section2-element-title 12+
                    .section2-element-text AWARD WINNING
            .section2-colum 
                .section2-element
                    img(src="./assets/imgs/portfolio.svg", alt="mans").section2-element-img
                    .section2-element-title 1.5K
                    .section2-element-text CASES DONE