// переменные 
//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;

//Цвета макета
$c-primary: #fafafa;//основной цвет макета
$c-text: #737373;//основной цвет текста макета
$c-text2: #252B42;//дополнительный цвет текста макета

// Рандомные переменные проекта

// Размер шрифта
$font-size-base: 14px;

// Шрифты
$body-font: 'Montserrat', sans-serif;//основной


